h1,h2,h3 {
    font-weight: 600;
    text-align: center;
    color: red;
}


.line-title {
    font-size: 16px;
}

.death,
.sodom,
.lost,
.blink,
.off,
.paramore,
.bastilee,
.one,
.fresno {
    text-align: center;
    display: flex;
    font-weight: 600;
    margin: 0 auto;
}

.punk-rock,
.alternative {
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

/* .sodom {
    padding-left: 15px;
}
.fresno {
    padding-left: 15px;
} */

.mega {
    width: 260px;
}