body {
    width: 402px;
    margin: auto;
    
}
header {
    background-image: url(/images/header-base.jpg);
    height: 100px;
    width: 320px;

}
header ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.2rem;
    padding: 8px;
    margin-top: 60px;
    color: #e93633;
    font-weight: bold;
    
}
footer {
    background-image: url(/images/footer-base.jpg);
    height: 100px;
    width: 320px;
    
}
footer ul li {
    list-style: none;
    font-size: 1.2rem;
    color: cornsilk;
    margin-bottom: 15px;
    font-weight: bold; 
    margin-top: 20px;
    line-height: 0.2; 
}
small {
    color: cornsilk;
    font-size: 0.9rem;
    margin-top: 20px;
}
h1,
h2,
p,
h3 {
    font-size: 1.2rem;
}

ul li a {
    text-decoration: none;
}
